body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #fff;
}
div {
    display: block;
}
html, body {
    width: 100%;
    height: 100%;
}
.container-area {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -40px; 
    padding: 0px; 
    width: 100%; 
    height: 100%;
}
